<a href="https://colab.research.google.com/github/IzaLech/data-scientist-bootcamp/blob/main/DataFrame_%C5%82%C4%85czenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

def fetch_financial_data(company='AMZN'):
    """Pobiera dane dotyczące notowań spółek na giełdzie według symboli
    na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL.US')
uber = fetch_financial_data('UBER')
amazon = fetch_financial_data('AMZN.US')
google = fetch_financial_data('GOOGL.US')

In [11]:
apple.info

<bound method DataFrame.info of                 Open      High       Low     Close        Volume
Date
2023-07-05  191.5650  192.9800  190.6200  191.3300  4.692026e+07
2023-07-03  193.7800  193.8800  191.7600  192.4600  3.145820e+07
2023-06-30  191.6300  194.4800  191.2600  193.9700  8.521322e+07
2023-06-29  189.0800  190.0700  188.9400  189.5900  4.634731e+07
2023-06-28  187.9300  189.9000  187.6000  189.2500  5.121680e+07
...              ...       ...       ...       ...           ...
2018-07-13   45.7913   45.9687   45.7465   45.8471  5.224970e+07
2018-07-12   45.4125   45.8671   45.3587   45.7794  7.529229e+07
2018-07-11   45.1673   45.4743   44.9539   45.0157  7.859067e+07
2018-07-10   45.7006   45.8342   45.5710   45.6108  6.651994e+07
2018-07-09   45.4045   45.6926   45.3567   45.6677  8.245171e+07

[1256 rows x 5 columns]>

In [15]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-07-05     191.565      192.98     190.62       191.33    46920261.0
2023-07-03     193.780      193.88     191.76       192.46    31458198.0
2023-06-30     191.630      194.48     191.26       193.97    85213216.0
2023-06-29     189.080      190.07     188.94       189.59    46347308.0
2023-06-28     187.930      189.90     187.60       189.25    51216801.0

In [16]:
uber.columns = ['uber_' + col.lower() for col in uber.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]

ŁĄCZENIE DANYCH - METODA CONCAT

In [19]:
df = pd.concat(objs=[apple, amazon, google, uber] , axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-07-09,45.4045,45.6926,45.3567,45.6677,8.245171e+07,86.2025,86.978,85.8115,86.9510,60239760,58.0000,58.3965,57.8615,58.364,21584020,NaN,NaN,NaN,NaN,NaN
2018-07-10,45.7006,45.8342,45.5710,45.6108,6.651994e+07,86.9265,87.500,86.5500,87.1535,60058100,58.4995,58.6750,58.1280,58.357,21334080,NaN,NaN,NaN,NaN,NaN
2018-07-11,45.1673,45.4743,44.9539,45.0157,7.859067e+07,86.8995,87.848,86.7000,87.7500,64195640,57.7810,59.0220,57.7685,58.573,33252660,NaN,NaN,NaN,NaN,NaN
2018-07-12,45.4125,45.8671,45.3587,45.7794,7.529229e+07,88.2255,89.900,88.1090,89.8310,90654860,58.7430,60.0995,58.6550,60.063,44148620,NaN,NaN,NaN,NaN,NaN
2018-07-13,45.7913,45.9687,45.7465,45.8471,5.224970e+07,90.1965,90.765,89.7615,90.6515,87733580,60.1400,60.5220,59.7645,60.221,32637140,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-28,187.9300,189.9000,187.6000,189.2500,5.121680e+07,128.9400,131.480,128.4400,129.0400,52149512,117.0900,120.3900,116.8500,120.180,27091449,43.50,45.2400,43.32,44.24,28187374.0
2023-06-29,189.0800,190.0700,188.9400,189.5900,4.634731e+07,128.7700,129.260,127.2550,127.9000,40760959,119.2400,120.0600,118.2950,119.100,24090902,44.09,44.2800,42.11,42.58,28595285.0
2023-06-30,191.6300,194.4800,191.2600,193.9700,8.521322e+07,129.4700,131.245,128.9500,130.3600,54350684,120.1700,121.0800,119.6900,119.700,29532241,43.11,43.4299,42.92,43.17,17589240.0
2023-07-03,193.7800,193.8800,191.7600,192.4600,3.145820e+07,130.8200,131.850,130.0650,130.2200,28264785,119.2400,120.1900,118.8182,119.900,14467850,43.17,43.4000,42.58,43.09,7578076.0
2023-07-05,191.5650,192.9800,190.6200,191.3300,4.692026e+07,130.2400,131.400,129.6400,130.3800,35895409,119.2400,122.6100,119.2300,121.750,27584809,42.89,43.8800,42.89,43.66,15730395.0

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1256.0,1.087783e+02,4.661943e+01,3.474310e+01,5.530050e+01,1.225315e+02,1.481055e+02,1.937800e+02
apple_high,1256.0,1.100908e+02,4.716012e+01,3.515880e+01,5.583622e+01,1.237980e+02,1.499721e+02,1.944800e+02
apple_low,1256.0,1.075640e+02,4.611792e+01,3.426350e+01,5.476993e+01,1.209160e+02,1.468240e+02,1.917600e+02
apple_close,1256.0,1.088917e+02,4.666805e+01,3.430940e+01,5.535445e+01,1.226850e+02,1.483295e+02,1.939700e+02
apple_volume,1256.0,1.121124e+08,5.643096e+07,3.145820e+07,7.545094e+07,9.702722e+07,1.320483e+08,4.347085e+08
amazon_open,1256.0,1.229784e+02,3.311162e+01,6.730000e+01,9.271963e+01,1.139975e+02,1.583410e+02,1.872000e+02
amazon_high,1256.0,1.245053e+02,3.342236e+01,6.980150e+01,9.381762e+01,1.164645e+02,1.599535e+02,1.886540e+02
amazon_low,1256.0,1.213230e+02,3.273354e+01,6.535000e+01,9.158263e+01,1.126640e+02,1.562548e+02,1.848400e+02
amazon_close,1256.0,1.229235e+02,3.303638e+01,6.719800e+01,9.284850e+01,1.144850e+02,1.581020e+02,1.865700e+02
amazon_volume,1256.0,8.280141e+07,3.826505e+07,1.762674e+07,5.701011e+07,7.149507e+07,9.763047e+07,3.113457e+08
google_open,1256.0,9.082980e+01,2.964148e+01,4.921600e+01,6.198790e+01,8.814500e+01,1.152065e+02,1.512500e+02
google_high,1256.0,9.188401e+01,2.993968e+01,5.060600e+01,6.231875e+01,8.887825e+01,1.167265e+02,1.515470e+02
google_low,1256.0,8.982215e+01,2.930362e+01,4.888300e+01,6.125763e+01,8.706075e+01,1.138230e+02,1.488990e+02
google_close,1256.0,9.087977e+01,2.961812e+01,4.923350e+01,6.182975e+01,8.807550e+01,1.150295e+02,1.498380e+02
google_volume,1256.0,3.481017e+07,1.548223e+07,9.312760e+06,2.513464e+07,3.100718e+07,3.991487e+07,1.331771e+08
uber_open,1045.0,3.710761e+01,9.433459e+00,1.596000e+01,3.025000e+01,3.475000e+01,4.356000e+01,6.325000e+01
uber_high,1045.0,3.786238e+01,9.510075e+00,1.780000e+01,3.090000e+01,3.534000e+01,4.428000e+01,6.405000e+01
uber_low,1045.0,3.629740e+01,9.285361e+00,1.371000e+01,2.956000e+01,3.394000e+01,4.282010e+01,6.080000e+01
uber_close,1045.0,3.708331e+01,9.378051e+00,1.482000e+01,3.027000e+01,3.468000e+01,4.349000e+01,6.318000e+01
uber_volume,1045.0,2.538729e+07,1.630119e+07,3.380003e+06,1.590861e+07,2.162604e+07,3.019940e+07,1.863225e+08

In [22]:
pd.set_option('display.float_format' , lambda x: f'{x:2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1256.000000,108.778330,46.619433,34.743100,55.300500,122.531500,148.105500,193.780000
apple_high,1256.000000,110.090782,47.160119,35.158800,55.836225,123.798000,149.972150,194.480000
apple_low,1256.000000,107.563971,46.117917,34.263500,54.769925,120.916000,146.824000,191.760000
apple_close,1256.000000,108.891659,46.668048,34.309400,55.354450,122.685000,148.329500,193.970000
apple_volume,1256.000000,112112396.795889,56430960.624902,31458198.000000,75450940.923196,97027216.300272,132048320.826302,434708544.962650
amazon_open,1256.000000,122.978379,33.111625,67.300000,92.719625,113.997500,158.341000,187.200000
amazon_high,1256.000000,124.505309,33.422356,69.801500,93.817625,116.464500,159.953500,188.654000
amazon_low,1256.000000,121.323048,32.733538,65.350000,91.582625,112.664000,156.254750,184.840000
amazon_close,1256.000000,122.923503,33.036383,67.198000,92.848500,114.485000,158.102000,186.570000
amazon_volume,1256.000000,82801413.087580,38265049.986814,17626740.000000,57010110.000000,71495074.000000,97630470.250000,311345660.000000
google_open,1256.000000,90.829797,29.641482,49.216000,61.987900,88.145000,115.206500,151.250000
google_high,1256.000000,91.884010,29.939679,50.606000,62.318750,88.878250,116.726500,151.547000
google_low,1256.000000,89.822150,29.303622,48.883000,61.257625,87.060750,113.823000,148.899000
google_close,1256.000000,90.879775,29.618118,49.233500,61.829750,88.075500,115.029500,149.838000
google_volume,1256.000000,34810173.753981,15482233.499727,9312760.000000,25134635.000000,31007180.000000,39914870.000000,133177100.000000
uber_open,1045.000000,37.107615,9.433459,15.960000,30.250000,34.750000,43.560000,63.250000
uber_high,1045.000000,37.862383,9.510075,17.800000,30.900000,35.340000,44.280000,64.050000
uber_low,1045.000000,36.297400,9.285361,13.710000,29.560000,33.940000,42.820100,60.800000
uber_close,1045.000000,37.083311,9.378051,14.820000,30.270000,34.680000,43.490000,63.180000
uber_volume,1045.000000,25387294.003828,16301187.556460,3380003.000000,15908613.000000,21626037.000000,30199398.000000,186322536.000000

In [23]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.000000,0.999689,0.999624,0.999200,-0.432305,0.632790,0.637852,0.627460,0.631770,-0.324022,0.904501,0.907506,0.902674,0.904495,-0.086431,0.072015,0.074021,0.076330,0.073818,0.087718
apple_high,0.999689,1.000000,0.999556,0.999622,-0.425626,0.631660,0.637269,0.626514,0.631335,-0.318989,0.903390,0.906807,0.901732,0.903927,-0.082440,0.066617,0.069182,0.071067,0.069144,0.090579
apple_low,0.999624,0.999556,1.000000,0.999636,-0.441064,0.632000,0.637286,0.627428,0.631842,-0.330640,0.905834,0.908983,0.904531,0.906449,-0.092137,0.075093,0.077306,0.080211,0.077772,0.083510
apple_close,0.999200,0.999622,0.999636,1.000000,-0.433826,0.631181,0.636981,0.626734,0.631942,-0.325587,0.904328,0.907875,0.903152,0.905663,-0.088264,0.069964,0.072660,0.075138,0.073602,0.086012
apple_volume,-0.432305,-0.425626,-0.441064,-0.433826,1.000000,-0.164718,-0.160251,-0.174224,-0.168281,0.590824,-0.443606,-0.440779,-0.450647,-0.446678,0.448638,-0.153788,-0.144698,-0.172585,-0.157790,0.226703
amazon_open,0.632790,0.631660,0.632000,0.631181,-0.164718,1.000000,0.999088,0.998925,0.997769,-0.210767,0.728101,0.724899,0.729058,0.726234,-0.120392,0.588643,0.591989,0.587787,0.588460,-0.032275
amazon_high,0.637852,0.637269,0.637286,0.636981,-0.160251,0.999088,1.000000,0.998699,0.998957,-0.198587,0.730632,0.728202,0.731898,0.729729,-0.112983,0.579020,0.583277,0.578481,0.580039,-0.026602
amazon_low,0.627460,0.626514,0.627428,0.626734,-0.174224,0.998925,0.998699,1.000000,0.998999,-0.226232,0.725976,0.723021,0.727964,0.725274,-0.133429,0.598038,0.601833,0.598408,0.599370,-0.039775
amazon_close,0.631770,0.631335,0.631842,0.631942,-0.168281,0.997769,0.998957,0.998999,1.000000,-0.212566,0.727440,0.725203,0.729591,0.727909,-0.124993,0.587176,0.591673,0.587621,0.589883,-0.033968
amazon_volume,-0.324022,-0.318989,-0.330640,-0.325587,0.590824,-0.210767,-0.198587,-0.226232,-0.212566,1.000000,-0.336180,-0.330104,-0.344165,-0.337932,0.539242,-0.163646,-0.155212,-0.180092,-0.169532,0.241923
google_open,0.904501,0.903390,0.905834,0.904328,-0.443606,0.728101,0.730632,0.725976,0.727440,-0.336180,1.000000,0.999470,0.999460,0.998787,-0.133659,0.241926,0.243181,0.244047,0.240893,0.086331
google_high,0.907506,0.906807,0.908983,0.907875,-0.440779,0.724899,0.728202,0.723021,0.725203,-0.330104,0.999470,1.000000,0.999345,0.999446,-0.124368,0.235111,0.237066,0.237440,0.235009,0.091078
google_low,0.902674,0.901732,0.904531,0.903152,-0.450647,0.729058,0.731898,0.727964,0.729591,-0.344165,0.999460,0.999345,1.000000,0.999468,-0.145724,0.247891,0.249344,0.250917,0.247870,0.080261
google_close,0.904495,0.903927,0.906449,0.905663,-0.446678,0.726234,0.729729,0.725274,0.727909,-0.337932,0.998787,0.999446,0.999468,1.000000,-0.136480,0.241096,0.243189,0.244194,0.242260,0.085094
google_volume,-0.086431,-0.082440,-0.092137,-0.088264,0.448638,-0.120392,-0.112983,-0.133429,-0.124993,0.539242,-0.133659,-0.124368,-0.145724,-0.136480,1.000000,-0.157365,-0.146623,-0.171990,-0.158647,0.268059
uber_open,0.072015,0.066617,0.075093,0.069964,-0.153788,0.588643,0.579020,0.598038,0.587176,-0.163646,0.241926,0.235111,0.247891,0.241096,-0.157365,1.000000,0.997299,0.997265,0.994157,-0.204782
uber_high,0.074021,0.069182,0.077306,0.072660,-0.144698,0.591989,0.583277,0.601833,0.591673,-0.155212,0.243181,0.237066,0.249344,0.243189,-0.146623,0.997299,1.000000,0.996786,0.997563,-0.180741
uber_low,0.076330,0.071067,0.080211,0.075138,-0.172585,0.587787,0.578481,0.598408,0.587621,-0.180092,0.244047,0.237440,0.250917,0.244194,-0.171990,0.997265,0.996786,1.000000,0.997250,-0.224590
uber_close,0.073818,0.069144,0.077772,0.073602,-0.157790,0.588460,0.580039,0.599370,0.589883,-0.169532,0.240893,0.235009,0.247870,0.242260,-0.158647,0.994157,0.997563,0.997250,1.000000,-0.200501
uber_volume,0.087718,0.090579,0.083510,0.086012,0.226703,-0.032275,-0.026602,-0.039775,-0.033968,0.241923,0.086331,0.091078,0.080261,0.085094,0.268059,-0.204782,-0.180741,-0.224590,-0.200501,1.000000

In [25]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [27]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-07-09    45.667700     86.951000     58.364000         NaN
2018-07-10    45.610800     87.153500     58.357000         NaN
2018-07-11    45.015700     87.750000     58.573000         NaN
2018-07-12    45.779400     89.831000     60.063000         NaN
2018-07-13    45.847100     90.651500     60.221000         NaN
...                 ...           ...           ...         ...
2023-06-28   189.250000    129.040000    120.180000   44.240000
2023-06-29   189.590000    127.900000    119.100000   42.580000
2023-06-30   193.970000    130.360000    119.700000   43.170000
2023-07-03   192.460000    130.220000    119.900000   43.090000
2023-07-05   191.330000    130.380000    121.750000   43.660000

[1256 rows x 4 columns]

In [28]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close      1.000000      0.631942      0.905663    0.073602
amazon_close     0.631942      1.000000      0.727909    0.589883
google_close     0.905663      0.727909      1.000000    0.242260
uber_close       0.073602      0.589883      0.242260    1.000000

In [29]:
closes_volume = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes_volume

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [31]:
df[closes_volume].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.000000,-0.433826,0.631942,-0.325587,0.905663,-0.088264,0.073602,0.086012
apple_volume,-0.433826,1.000000,-0.168281,0.590824,-0.446678,0.448638,-0.157790,0.226703
amazon_close,0.631942,-0.168281,1.000000,-0.212566,0.727909,-0.124993,0.589883,-0.033968
amazon_volume,-0.325587,0.590824,-0.212566,1.000000,-0.337932,0.539242,-0.169532,0.241923
google_close,0.905663,-0.446678,0.727909,-0.337932,1.000000,-0.136480,0.242260,0.085094
google_volume,-0.088264,0.448638,-0.124993,0.539242,-0.136480,1.000000,-0.158647,0.268059
uber_close,0.073602,-0.157790,0.589883,-0.169532,0.242260,-0.158647,1.000000,-0.200501
uber_volume,0.086012,0.226703,-0.033968,0.241923,0.085094,0.268059,-0.200501,1.000000

ŁĄCZENIE DANYCH - METODA APPEND  // działa gdy mamy te same kolumny

In [32]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-05  42.890000  43.880000 42.890000   43.660000     15730395
2023-07-03  43.170000  43.400000 42.580000   43.090000      7578076
2023-06-30  43.110000  43.429900 42.920000   43.170000     17589240
2023-06-29  44.090000  44.280000 42.110000   42.580000     28595285
2023-06-28  43.500000  45.240000 43.320000   44.240000     28187374

In [33]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30  43.110000  43.429900 42.920000   43.170000     17589240
2023-06-29  44.090000  44.280000 42.110000   42.580000     28595285
2023-06-28  43.500000  45.240000 43.320000   44.240000     28187374
2023-06-27  44.690000  44.830000 43.750000   43.830000     29652066
2023-06-26  43.750000  45.040000 43.680000   44.420000     33692974
...               ...        ...       ...         ...          ...
2019-06-07  44.920000  45.670000 44.130000   44.160000     12654670
2019-06-06  45.000000  45.750000 44.280000   44.920000     16403691
2019-06-05  42.870000  45.660000 42.500000   45.000000     28609604
2019-06-04  42.560000  42.880000 40.700000   42.750000     23432141
2019-06-03  40.743500  41.850000 40.240000   41.250000     16605261

[106 rows x 5 columns]

In [34]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-05  42.890000  43.880000 42.890000   43.660000     15730395
2023-07-03  43.170000  43.400000 42.580000   43.090000      7578076
2022-07-29  23.180000  23.485000 22.390000   23.450000     29406649
2022-07-28  22.890000  23.420000 22.140000   23.310000     22886075
2022-07-27  23.000000  23.319900 22.490000   23.090000     28384348
...               ...        ...       ...         ...          ...
2019-07-08  43.590000  43.850000 42.750000   42.950000      9304101
2019-07-05  44.310000  44.550000 43.010000   43.530000      8239452
2019-07-03  44.000000  44.460000 43.790000   44.230000      3380003
2019-07-02  44.550000  44.680000 43.750000   44.000000     11881274
2019-07-01  46.980000  47.040000 44.060000   44.270000     17739998

[87 rows x 5 columns]

In [36]:
uber_67 = uber_6.append(uber_7)
uber_67

<ipython-input-36-5b61c2676097>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_67 = uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30  43.110000  43.429900 42.920000   43.170000     17589240
2023-06-29  44.090000  44.280000 42.110000   42.580000     28595285
2023-06-28  43.500000  45.240000 43.320000   44.240000     28187374
2023-06-27  44.690000  44.830000 43.750000   43.830000     29652066
2023-06-26  43.750000  45.040000 43.680000   44.420000     33692974
...               ...        ...       ...         ...          ...
2019-07-08  43.590000  43.850000 42.750000   42.950000      9304101
2019-07-05  44.310000  44.550000 43.010000   43.530000      8239452
2019-07-03  44.000000  44.460000 43.790000   44.230000      3380003
2019-07-02  44.550000  44.680000 43.750000   44.000000     11881274
2019-07-01  46.980000  47.040000 44.060000   44.270000     17739998

[193 rows x 5 columns]